:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --logo-secondary-color: #000000;
  --bgc-footer: #2f303a;
  --bgc-team-section: #f5f4fa;
  --bgc: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--bgc);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


/* ------------HEADER-------------------------------------- */

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-secondary-color);
}

.logo {
  color: var(--accent-color);
}

.nav-link {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-link {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* ------------HERO-------------------------------------- */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
  background-color: var(--bgc);
}

/* ------------BENEFITS-------------------------------------- */

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-text {
  line-height: 1.71;
}

/* ------------WORK-------------------------------------- */

.work-title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
}

/* ------------TEAM-------------------------------------- */

.team-heading {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team {
  background-color: var(--bgc-team-section);
}

/* ------------FOOTER-------------------------------------- */

.footer {
  background-color: var(--bgc-footer);
}

.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.footer-link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.map-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.footer-link:hover,
.footer-link:focus,
.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}

/* ------------PORTFOLIO PAGE-------------------------------------- */

.btn-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--bgc-btn);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
}
